In [8]:
import db

In [11]:
import pandas as pd

In [14]:
df = pd.read_csv('init.csv')

,Unnamed: 0,img_gray,time,label,shape
0,0,"[84, 84, 75, 85, 88, 71, 75, 83, 88, 98, 101, ...",1.572140e+12,NONE,"(14, 26)"
1,1,"[79, 69, 62, 85, 80, 64, 69, 85, 94, 106, 109,...",1.572140e+12,UP,"(14, 26)"

In [9]:
# Create a cursor object
con = db.get_connection()
cursorInsatnce = con.cursor()
# SQL Statement to create a database
sqlStatement = "SELECT * FROM training"
# Execute the create database SQL statment through the cursor instance
res = cursorInsatnce.execute(sqlStatement).fetchall()

In [10]:
res

[]